{% from "nhsuk/components/card/macro.jinja" import card %}
{% from "nhsuk/components/summary-list/macro.jinja" import summaryList %}

{% macro views_taken(presented_images) %}
  {% if presented_images.total_count > 0 %}
    {% for type, presented_view in presented_images.views_taken.items() %}
      <p class="nhsuk-u-margin-bottom-2">
        <strong>{{ presented_view.count }}× {{ type }}</strong>
        {% if presented_view.repeat_count_text %}
          <br>{{ presented_view.reasons_heading }}:
          {{ presented_view.repeat_count_text }}
          {%- if presented_view.repeat_reasons -%}
          <ul class='nhsuk-list nhsuk-list--bullet nhsuk-u-margin-bottom-0'>
            {% for reason in presented_view.repeat_reasons %}
            <li>{{ reason }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        {% endif %}
      </p>
    {% endfor %}
  {% else -%}
    Not provided
  {%- endif %}
{% endmacro %}

{% macro images_taken_card(presented_images) %}
  {% call card({
    "heading": presented_images.title,
    "feature": true
  }) %}
    {{ summaryList({
      "rows": [
        {
          "key": { "text": "Views taken" },
          "value": { "html": views_taken(presented_images) }
        },
        {
          "key": { "text": "Notes for reader" },
          "value": { "text": presented_images.additional_details }
        }
      ]
    }) }}
  {% endcall %}
{% endmacro %}
