{% from "nhsuk/components/card/macro.jinja" import card %}
{% from "nhsuk/components/summary-list/macro.jinja" import summaryList %}
{% from "components/participant-details/summary_list_rows.jinja" import address_html %}

{% macro contact_details(presented_participant) %}
  {% call card({
    "heading": "Contact details"
  }) %}
    {{ summaryList({
      "rows": [
        {
          "key": {
            "text": "Address"
          },
          "value": {
            "html": address_html(presented_participant)
          }
        },
        {
          "key": {
            "text": "Phone"
          },
          "value": {
            "html": presented_participant.phone
          }
        },
        {
          "key": {
            "text": "Email"
          },
          "value": {
            "html": presented_participant.email
          }
        }
      ]
    }) }}
  {% endcall %}
{% endmacro %}
