{% from "nhsuk/components/card/macro.jinja" import card %}
{% from "nhsuk/components/summary-list/macro.jinja" import summaryList %}
{% from "components/participant-details/summary_list_rows.jinja" import date_of_birth_and_age_html, ethnicity_html %}

{% macro personal_details(presented_participant, return_url) %}
  {% call card({
    "heading": "Personal details"
  }) %}
    {{ summaryList({
      "rows": [
        {
          "key": {
            "text": "NHS Number"
          },
          "value": {
            "text": presented_participant.nhs_number
          }
        },
        {
          "key": {
            "text": "Full name"
          },
          "value": {
            "text": presented_participant.full_name
          }
        },
        {
          "key": {
            "text": "Gender"
          },
          "value": {
            "text": presented_participant.gender
          }
        },
        {
          "key": {
            "text": "Date of birth"
          },
          "value": {
            "html": date_of_birth_and_age_html(presented_participant) | safe
          }
        },
        {
          "key": {
            "text": "Ethnicity"
          },
          "value": {
            "html": ethnicity_html(presented_participant) | safe
          },
          "actions": presented_participant.ethnicity_actions(return_url)
        },
      ]
    }) }}
  {% endcall %}
{% endmacro %}
