{% from "card/macro.jinja" import card %}
{% from "summary-list/macro.jinja" import summaryList %}

{% macro personal_details(presented_participant, return_url) %}
{% set dob %}
  {{ presented_participant.date_of_birth }}<br>
  <span class="nhsuk-hint">({{ presented_participant.age }})</span>
{% endset %}

{% set ethnic_background = presented_participant.ethnic_background %}
{% set ethnic_background_category = presented_participant.ethnic_category %}
{% set ethnicity_details_url = presented_participant.ethnicity_url(return_url) %}
{% set ethnicity_details_link %}
  <a href="{{ ethnicity_details_url }}" class="nhsuk-link">Enter ethnicity details</a>
{% endset %}
{% set ethnicity_html %}
  {% if ethnic_background == "Prefer not to say" %}
    {{ ethnic_background }}
  {% elif ethnic_background %}
    {{ ethnic_background_category }} ({{ ethnic_background }})
  {% else %}
    {{ ethnicity_details_link | safe }}
  {% endif %}
{% endset %}

{% set ethnicity_change_link = {
    "items": [
      {
        "href": ethnicity_details_url,
        "text": "Change",
        "visuallyHiddenText": "ethnicity"
      }
    ]
  } if ethnic_background else undefined %}

  {% call card({
    "heading": "Personal details"
  }) %}
    {{ summaryList({
      "rows": [
        {
          "key": {
            "text": "NHS Number"
          },
          "value": {
            "text": presented_participant.nhs_number
          }
        },
        {
          "key": {
            "text": "Full name"
          },
          "value": {
            "text": presented_participant.full_name
          }
        },
        {
          "key": {
            "text": "Gender"
          },
          "value": {
            "text": presented_participant.gender
          }
        },
        {
          "key": {
            "text": "Date of birth"
          },
          "value": {
            "html": dob
          }
        },
        {
          "key": {
            "text": "Ethnicity"
          },
          "value": {
            "html": ethnicity_html | safe
          },
          "actions": ethnicity_change_link
        },
      ]
    }) }}
  {% endcall %}
{% endmacro %}
