{% macro address_html(presented_participant) %}
  {% if presented_participant.address %}
    {% for line in presented_participant.address.lines %}
      {{ line }}{% if not loop.last %}<br>{% endif %}
    {% endfor %}
    {% if presented_participant.address.postcode %}
      <br>{{ presented_participant.address.postcode }}
    {% endif %}
  {% else -%}
  Not provided
  {%- endif %}
{% endmacro %}

{% macro date_of_birth_and_age_html(presented_participant) %}
  {{ presented_participant.date_of_birth }}<br>
  <span class="nhsuk-hint">({{ presented_participant.age }})</span>
{% endmacro %}

{% macro ethnicity_html(presented_participant) %}
  {% set ethnic_background = presented_participant.ethnic_background %}
  {% set ethnic_background_category = presented_participant.ethnic_category %}
  {% set ethnicity_details_url = presented_participant.ethnicity_url(return_url) %}
  {% set ethnicity_details_link %}
    <a href="{{ ethnicity_details_url }}" class="nhsuk-link">Enter ethnicity details</a>
  {% endset %}

  {% if presented_participant.ethnicity_not_shared %}
    {{ ethnic_background }}
  {% elif ethnic_background %}
    {{ ethnic_background_category }} ({{ ethnic_background }})
  {% else %}
    {{ ethnicity_details_link | safe }}
  {% endif %}
{% endmacro %}

{% macro last_mammogram_html(presented_mammograms) %}
  {% set mammograms_by_date_added = presented_mammograms.last_known_mammograms %}
  <div data-testid="mammograms">
  {% if mammograms_by_date_added %}
    {% for mammogram in mammograms_by_date_added %}
      <p>
      <a style="float: right" class="nhsuk-link nhsuk-link--no-visited-state" href="{{ mammogram.change_link.href}}">
        {{ mammogram.change_link.text }}<span class="nhsuk-u-visually-hidden">{{ mammogram.change_link.visually_hidden_text }}</span>
      </a>

      <span class="nhsuk-u-font-weight-bold">Added {{ mammogram.date_added }}</span>
      <br>{% if mammogram.date.is_exact %}{{ mammogram.date.absolute }} <span class="nhsuk-u-secondary-text-color">({{ mammogram.date.relative }})</span>{% else %}{{ mammogram.date.value }}{% endif %}
      <br>{{ mammogram.location }}

      {% if mammogram.different_name %}
        <br>Previous name: {{ mammogram.different_name }}
      {% endif %}

      {% if mammogram.additional_information %}
        <br>Additional information: {{ mammogram.additional_information | nl2br }}
      {% endif %}
      </p>
    {% endfor %}
  {% else %}
  {{ "Not known" | as_hint }}
  {% endif %}
  </div>
{% endmacro %}
