{% extends 'layout-form.jinja' %}
{% from 'button/macro.jinja' import button %}

{% block form %}
    {{ form.which_are_temporary }}

    <div class="nhsuk-button-group">
      {{ button({
        "text": "Continue"
      }) }}
    </div>
{% endblock %}
