{% extends "layout-form.jinja" %}
{% from "button/macro.jinja" import button %}

{% block form %}
  {% for option in form.SupportReasons %}
    {% do form.support_reasons.add_conditional_html(option.value, form[option.value.lower() + "_details"].as_field_group()) %}
  {% endfor %}

  {{ form.support_reasons.as_field_group() }}

  {{ form.any_temporary.as_field_group() }}

  <div class="nhsuk-button-group">
    {{ button({
      "text": "Continue"
    }) }}
  </div>
{% endblock %}
