{% from "nhsuk/components/checkboxes/macro.jinja" import checkboxes %}
{% from "nhsuk/components/fieldset/macro.jinja" import fieldset %}

{% macro diagnosis_location_field(form_field) %}
  {% call fieldset({
    "legend": {
      "text": form_field.label,
      "classes": "nhsuk-fieldset__legend--m"
    },
    "attributes": {
      "aria-describedby": "breast-location-hint"
    }
  }) %}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        {{ checkboxes({
          "name": form_field.name,
          "values": form_field.value(),
          "idPrefix": form_field.auto_id ~ "_right",
          "formGroup": {
            "classes": "nhsuk-u-margin-bottom-2"
          },
          "items": [
            {
              "value": "Right breast",
              "text": "Right breast"
            }
          ]
        }) }}
      </div>
      <div class="nhsuk-grid-column-one-half">
        {{ checkboxes({
          "name": form_field.name,
          "values": form_field.value(),
          "idPrefix": form_field.auto_id ~ "_left",
          "formGroup": {
            "classes": "nhsuk-u-margin-bottom-2"
          },
          "items": [
            {
              "value": "Left breast",
              "text": "Left breast"
            }
          ]
        }) }}
      </div>
    </div>

    {{ checkboxes({
      "name": form_field.name,
      "values": form_field.value(),
      "idPrefix": form_field.auto_id ~ "_not_known",
      "items": [
        {
          "divider": "or"
        },
        {
          "value": "Does not know",
          "text": "Does not know",
          "exclusive": true
        }
      ]
    }) }}
  {% endcall %}
{% endmacro %}
