version: 2

updates:
  - package-ecosystem: 'docker'
    directory: '/'
    schedule:
      interval: 'daily'
    cooldown:
      default-days: 7
    ignore:
      # Manually track LTS release versions (see .tool-versions, package.json
      # and .browserslistrc)
      - dependency-name: 'node'

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'daily'
    cooldown:
      default-days: 7
    groups:
      docker:
        patterns:
          - 'docker/*'

  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'daily'
    cooldown:
      default-days: 7
    ignore:
      # nhsuk-frontend needs to be updated in conjunction with nhsuk-frontend-jinja
      - dependency-name: 'nhsuk-frontend'

    groups:
      build:
        patterns:
          - '@babel/*'
          - '@rollup/*'
          - 'rollup'
          - 'rollup-*'
          - 'sass-embedded'

      lint:
        patterns:
          - '@typescript-eslint/*'
          - '@eslint/*'
          - 'eslint'
          - 'eslint-*'
          - 'prettier'
          - 'typescript*'
          - '@types/*'

      test:
        patterns:
          - '@testing-library/*'
          - 'babel-jest'
          - 'jest'
          - 'jest-*'

      tools:
        patterns:
          - 'concurrently'

  - package-ecosystem: 'uv'
    directory: '/'
    schedule:
      interval: 'daily'
    cooldown:
      default-days: 7
    ignore:
      # nhsuk-frontend-jinja needs to be updated in conjunction with nhsuk-frontend
      - dependency-name: nhsuk-frontend-jinja

    groups:
      infra:
        patterns:
          - azure-*
          - gunicorn
          - psycopg

      dev:
        dependency-type: development

  - package-ecosystem: 'terraform'
    directory: '/'
    schedule:
      interval: 'daily'
