// NHS.UK frontend library
@use "vendor/nhsuk-frontend/base" as *;
@forward "vendor/nhsuk-frontend";

// Components that are not in the NHS.UK frontend library
@forward "components/button";
@forward "components/count";
@forward "components/appointment-status";
@forward "components/secondary-navigation";
@forward "components/special-appointment-banner";

h1 {
  @extend %nhsuk-heading-l;
}

h2 {
  @extend %nhsuk-heading-m;
}

h3 {
  @extend %nhsuk-heading-s;
}

[hidden] {
  display: none;
}

/*
Highlight in red links that don't get anywhere yet
*/
a[href="#"] {
  color: #c80000 !important;
}

// Status tag positioning within headers
.app-header {
  position: relative;
}

.app-header__status-tag {
  position: absolute;
  top: 10px;
  right: 0;
  text-align: right;
}

p:has(+ .app-inset-text) {
  margin-bottom: 0;
}
