// NHS.UK frontend library
@use "vendor/nhsuk-frontend/base" as *;
@forward "vendor/nhsuk-frontend";

// Components that are not in the NHS.UK frontend library
@forward "components/button";
@forward "components/count";
@forward "components/icon";
@forward "components/stepper-input";
@forward "components/appointment-status";
@forward "components/secondary-navigation";
@forward "components/card-with-status";
@forward "components/special-appointment-banner";
@forward "components/nested-info";
@forward "components/workflow-steps";

$color_app-dark-blue: #00386e;

h1 {
  @extend %nhsuk-heading-l;
}

h2 {
  @extend %nhsuk-heading-m;
}

h3 {
  @extend %nhsuk-heading-s;
}

[hidden] {
  display: none;
}

/*
Highlight in red links that don't get anywhere yet
*/
a[href="#"] {
  color: #c80000 !important;
}

// Status tag positioning within headers
.app-header {
  position: relative;
}

.app-header__status-tag {
  position: absolute;
  top: 10px;
  right: 0;
  text-align: right;
}

.app-link--error,
.app-link--warning {
  color: $nhsuk-error-colour;
}

.app-checkboxes--inline {
  @include nhsuk-media-query($from: tablet) {
    @include nhsuk-clearfix;

    .nhsuk-checkboxes__item {
      clear: none;
      float: left;
      margin-right: nhsuk-spacing(4);
    }
  }
}

.app-u-nowrap {
  white-space: nowrap;
}

/*
  The design system has an inline variant for radios, but it's overriden when conditionals are used,
  and it uses floats
*/
.app-radios-inline {
  @include nhsuk-media-query($from: tablet) {
    @include nhsuk-clearfix;

    .nhsuk-radios__item {
      clear: none;
      float: left !important; /* higher specificity to override the design system style */
      margin-right: nhsuk-spacing(4);
    }
  }
}

.app-status-bar {
  background-color: nhsuk-shade($nhsuk-brand-colour, 40%);
  color: $nhsuk-reverse-text-colour;
  padding: nhsuk-spacing(2) 0;
  border-bottom: 1px solid nhsuk-colour("grey-4");
}

.app-status-bar a {
  color: $nhsuk-reverse-text-colour;

  &:hover,
  &:active {
    color: $nhsuk-reverse-text-colour;
  }
  &:focus {
    color: $nhsuk-text-colour;
  }
}

.app-status-bar__row {
  display: flex;
  flex-wrap: wrap;
  gap: nhsuk-spacing(4);
  align-items: center;
}

.app-status-bar__row + .app-status-bar__row {
  margin-top: nhsuk-spacing(2);
  padding-top: nhsuk-spacing(2);
  border-top: 1px solid rgba($color_nhsuk-white, 0.2);
}

.app-status-bar__item {
  display: flex;
  gap: nhsuk-spacing(2);
  align-items: center;
}

.app-status-bar__key {
  @include nhsuk-typography-weight-bold($important: true);
  opacity: 0.9;
}
