{% from 'nhsuk/components/tag/macro.jinja' import tag %}

{% set can_be_checked_in = presented_appointment.can_be_checked_in %}

<div data-event-status-container="{{ presented_appointment.pk }}" >
  <span {% if can_be_checked_in %}data-hide-on-check-in{% endif %}>
    {{ tag({
    "text": presented_appointment.current_status.text,
    "classes": presented_appointment.current_status.classes
    }) }}
  </span>
  {% if can_be_checked_in %}
    <span data-show-on-check-in hidden>{{ tag({"text": "Checked in", "classes": "app-u-nowrap"}) }}</span>
  {% endif %}
</div>
