{% from 'nhsuk/components/tag/macro.jinja' import tag %}

{% set can_be_checked_in = appointment.current_status.is_confirmed %}

<div data-event-status-container="{{ appointment.pk }}" >
  <span {% if can_be_checked_in %}data-hide-on-check-in{% endif %}>
    {{ tag({
    "text": appointment.current_status.text,
    "classes": appointment.current_status.classes
    }) }}
  </span>
  {% if can_be_checked_in %}
    <span data-show-on-check-in hidden>{{ tag({"text": "Checked in", "classes": "app-nowrap"}) }}</span>
  {% endif %}
</div>
