{% from "nhsuk/macros/attributes.jinja" import nhsukAttributes -%}

<div class="app-breast-diagram__side-labels">
  <span>Right</span>
  <span>Left</span>
</div>

<figure class="app-breast-diagram__image-map nhsuk-u-width-full" data-module="app-image-map" {{- nhsukAttributes(attributes) }}>
{% if version == 1 %}
{% include "components/breast-diagram/v1.svg" %}
{% endif %}
</figure>
