{% from "nhsuk/components/summary-list/macro.jinja" import summaryList %}
{% from "nhsuk/macros/attributes.jinja" import nhsukAttributes %}
{% from "components/image-key/macro.jinja" import app_image_key %}

<div {{- nhsukAttributes({
  "class": "app-breast-diagram",
  "data-module": "app-breast-diagram",
  "data-debug": {
    "value": "true" if params.debug else false,
    "optional": true
  },
  "data-read-only": {
    "value": "true" if params.read_only else false,
    "optional": true
  }
}) -}}>
  {% if caller or params.html %}
    {{ caller() if caller else params.html | safe | trim | indent(4) }}
  {% elif params.text %}
    <p class="nhsuk-body">
      {{ params.text | trim | indent(6) }}
    </p>
  {% endif %}

  <div class="app-breast-diagram__side-labels">
    <span>Right</span>
    <span>Left</span>
  </div>

  <figure
    {{- nhsukAttributes({
      "class": "app-breast-diagram__image-map nhsuk-u-width-full",
      "data-module": "app-image-map"
    }) -}}

    {{- nhsukAttributes(params.image_map.attributes) -}}>
  {% if params.version == 1 %}
    {% include "components/breast-diagram/v1.svg" %}
  {% endif %}
  </figure>

{% if params.features | length %}
  {{ app_image_key({
    "items": params.features,
    "read_only": params.read_only
  }) | trim | indent(2) }}
{% endif %}

{% if params.debug %}
  {% if not params.read_only %}
  {{ summaryList({
    "rows": [
      {
        "key": {
          "text": "Image X"
        },
        "value": {
          "text": "N/A",
          "classes": "app-js-image-x"
        }
      },
      {
        "key": {
          "text": "Image Y"
        },
        "value": {
          "text": "N/A",
          "classes": "app-js-image-y"
        }
      },
      {
        "key": {
          "text": "Image region"
        },
        "value": {
          "text": "N/A",
          "classes": "app-js-image-region"
        },
        "classes": "nhsuk-summary-list__row--no-border"
      }
    ]
  }) | trim | indent(2) }}
  {% endif %}

  <div class="nhsuk-code nhsuk-u-margin-bottom-0 app-js-image-input" data-module="nhsuk-code">
    <pre class="nhsuk-code__container"><code class="nhsuk-code__content">[]</code></pre>
  </div>
{% endif %}
</div>
