<figure class="nhsuk-image nhsuk-u-width-full" data-module="app-image-map">
{% if version == 1 %}
{% include "components/breast-diagram/v1.svg" %}
{% endif %}
  <figcaption class="nhsuk-image__caption">
    Click on the diagram to select a location
  </figcaption>
</figure>
