{% extends 'layout-form.jinja' %}
{% from 'nhsuk/components/button/macro.jinja' import button %}

{% block page_content %}
  <h2>Add Participants</h2>
  {% if participants | length == 0 %}
  <p>No participants found.</p>
  {{ button({
    "text": "Upload a batch",
    "href": url('participants:upload_bss_batch')
  }) }}</p>

  {% else %}
      <table class="nhsuk-table">
      <thead class="nhsuk-table__head">
        <tr>
          <th class="nhsuk-table__header">Name</th>
          <th class="nhsuk-table__header">Postcode</th>
          <th class="nhsuk-table__header">NHS number</th>
          <th class="nhsuk-table__header">Birth date</th>
          <th class="nhsuk-table__header">Add to Clinic</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        {% for participant in participants %}
          <tr>
            <td class="nhsuk-table__cell">
              {{participant.full_name}}
             </td>
            <td class="nhsuk-table__cell">
              <p>participant</p>
            </td>
            <td class="nhsuk-table__cell">
              {{participant.nhs_number}}
             </td>
            <td class="nhsuk-table__cell">
              <p>{{participant.date_of_birth}}</p>
            </td>
            <td class="nhsuk-table__cell">
              <p>
              <form action="{{ request.path }}" method="POST" novalidate>
              {{ csrf_input }}
              <input type="hidden" name="participant" value="{{ participant.id }}">
                {{ button({
                  "text": "Add to Clinic"
                }) }}</p>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
      </table>
  {% endif %}
{% endblock %}
