{% extends 'layout-app.jinja' %}

{% from 'nhsuk/components/back-link/macro.jinja' import backLink %}
{% from 'nhsuk/components/tables/macro.jinja' import table %}
{% from 'nhsuk/components/tag/macro.jinja' import tag %}
{% from 'components/count/macro.jinja' import app_count %}
{% from 'components/secondary-navigation/macro.jinja' import app_secondary_navigation %}
{% from 'components/appointment-status/macro.jinja' import app_appointment_status %}
{% from 'components/check-in/macro.jinja' import app_check_in %}
{% from 'components/start-appointment/macro.jinja' import app_start_appointment %}
{% from 'components/resume-appointment/macro.jinja' import app_resume_appointment %}

{% block beforeContent %}
{{ backLink({
  "href": url('clinics:index'),
  "text": "Clinics"
}) }}
{% endblock beforeContent %}

{% block page_content %}
  <h1 class="nhsuk-heading-l app-header">
      <span class="nhsuk-caption-l">{{ presented_clinic.setting_name }}</span>
      {{ presented_clinic.heading }}

      <div class="app-header__status-tag">
        {{ tag({
            "html": presented_clinic.state.text | no_wrap,
            "classes": presented_clinic.state.classes,
        })}}
      </div>
  </h1>
  <p>{{ presented_clinic.time_range }} - {{ presented_clinic.starts_at }}</p>

  {% set secondary_nav_items = [] %}
  {% for nav_data in presented_appointment_list.secondary_nav_data %}
    {% do secondary_nav_items.append({
      "text": (nav_data.label + " " + app_count(nav_data.count)),
      "href": nav_data.href,
      "current": nav_data.current
    }) %}
  {% endfor %}

  {{ app_secondary_navigation({
    "visuallyHiddenTitle": "Secondary menu",
    "items": secondary_nav_items
  }) }}

  {% set table_rows = [] %}
  {% for presented_appointment in presented_appointment_list.appointments %}
    {% set details_html %}
      <p class="nhsuk-u-margin-bottom-1 nhsuk-u-font-weight-bold">
        {{ presented_appointment.participant.full_name }}
      </p>
      <p class="nhsuk-u-secondary-text-colour">
        NHS:  {{ presented_appointment.participant.nhs_number }}
      </p>
    {% endset %}
    {% set date_of_birth_html %}
      {{ presented_appointment.participant.date_of_birth }}<br>
      <span class="nhsuk-hint">({{ presented_appointment.participant.age }})</span>
    {% endset %}
    {% set start_time_html %}
      {{ presented_appointment.start_time }}
      {% if presented_appointment.is_special_appointment %}
        <br>
        {{ tag(presented_appointment.special_appointment_tag_properties) }}
      {% endif %}
      {% if presented_appointment.has_appointment_note %}
        <br>
        {{ tag(presented_appointment.appointment_note_tag_properties) }}
      {% endif %}
    {% endset %}
    {% set appointment_html %}
      {{
        app_appointment_status(presented_appointment)
      }}
      {% if presented_appointment.status_attribution %}
      <p class="nhsuk-u-secondary-text-colour">{{ presented_appointment.status_attribution }} {{presented_appointment.attribution_user_check(request.user)}}</p>
      {% endif %}
      <p class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-0 app-u-nowrap">
        <a href="{{ url('mammograms:show_appointment', kwargs={"pk": presented_appointment.pk}) }}" class="nhsuk-link">
          View appointment <span class="nhsuk-u-visually-hidden"> for {{ presented_appointment.participant.full_name }}</span>
        </a>
      </p>
    {% endset %}
    {% set actions_html %}
      {{ app_check_in(
        presented_appointment,
        check_in_url=url(
          'clinics:check_in',
           kwargs={
            'pk': presented_clinic.pk,
            'appointment_pk': presented_appointment.pk,
            }
        ),
        csrf_input=csrf_input
      ) }}
      {{ app_start_appointment(
        request.user,
        presented_appointment,
        start_appointment_url=url(
          'mammograms:start_appointment',
          kwargs={
            'pk': presented_appointment.pk,
          }
        ),
        csrf_input=csrf_input
      ) }}
      {% if presented_appointment.can_be_resumed_by(request.user) %}
        {{ app_resume_appointment(
          request.user,
          presented_appointment,
          resume_appointment_url=url(
            "mammograms:start_appointment",
            kwargs={
              'pk': presented_appointment.pk,
            }
          ),
          csrf_input=csrf_input
        ) }}
      {% endif %}
    {% endset %}

    {% do table_rows.append([
      {
        "html": start_time_html
      },
      {
        "html": details_html
      },
      {
        "html": date_of_birth_html
      },
      {
        "html": appointment_html
      },
      {
        "html": actions_html
      }
    ]) %}
  {% endfor %}

  {{ table({
    "head": [
      {
        "text": "Start"
      },
      {
        "text": "Details"
      },
      {
        "text": "Date of birth"
      },
      {
        "text": "Appointment"
      },
      {
        "text": "Actions"
      }
    ],
    "rows": table_rows,
    "classes": "nhsuk-table"
  }) }}

{% endblock %}
