{% set action_url = check_in_url or url('mammograms:check_in', kwargs={'pk': appointment.pk}) %}

<div data-module="app-check-in" data-appointment-id="{{ appointment.pk }}">
  <form action="{{ action_url }}" method="post" novalidate>
    <p class="nhsuk-u-margin-bottom-2">
      <button class="app-button--link">Check in<span class="nhsuk-u-visually-hidden"> {{ appointment.participant.full_name }}</span></button>
    </p>
    {{ csrf_input }}
  </form>
</div>
