{% extends 'layout-app.jinja' %}
{% from 'nhsuk/components/card/macro.jinja' import card %}
{% from 'nhsuk/components/warning-callout/macro.jinja' import warningCallout %}
{% from 'nhsuk/components/back-link/macro.jinja' import backLink %}
{% from 'components/appointment-status/macro.jinja' import appointment_status %}
{% from 'components/appointment-header/macro.jinja' import appointment_header %}
{% from 'components/participant-details/macro.jinja' import participant_details %}
{% from 'components/participant-details/contact_details.jinja' import contact_details %}
{% from 'components/secondary-navigation/macro.jinja' import app_secondary_navigation %}
{% from 'mammograms/special_appointments/special_appointment_banner.jinja' import special_appointment_banner %}

{% block beforeContent %}
{{ backLink({
  "href": presented_appointment.clinic_url,
  "text": "Back to clinic"
}) }}
{% endblock beforeContent %}

{% block page_content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

  <div class="app-header">
    <h1 class="nhsuk-heading-l">
      <span class="nhsuk-caption-l">
        {{ caption }}
      </span>
      {{ heading }}
    </h1>

    <div class="app-header__status-tag">
      {{ appointment_status(
        appointment=presented_appointment,
        csrf_input=csrf_input
      ) }}
    </div>
  </div>

  {{ appointment_header(request.user, presented_appointment, csrf_input=csrf_input) }}

  {{ special_appointment_banner(presented_appointment.special_appointment, show_change_link=presented_appointment.active) }}

  {{ app_secondary_navigation({
    "visuallyHiddenTitle": "Secondary menu",
    "items": secondary_nav_items
  }) }}

  {{ card({
    "heading": "Participant details",
    "descriptionHtml": participant_details(
      presented_participant=presented_participant,
      presented_mammograms=presented_mammograms,
      return_url=request.path,
      screening_protocol=presented_appointment.screening_protocol
    )
  }) }}

  {{ contact_details(presented_participant) }}
  </div>
</div>
{% endblock %}
