{% extends 'layout-appointment.jinja' %}
{% from 'nhsuk/components/card/macro.jinja' import card %}
{% from 'components/participant-details/participant_details.jinja' import participant_details %}
{% from 'components/participant-details/contact_details.jinja' import contact_details %}

{% block tab_content %}
  {{ card({
    "heading": "Participant details",
    "descriptionHtml": participant_details(
      presented_participant=presented_participant,
      presented_mammograms=presented_mammograms,
      return_url=request.path,
      screening_protocol=presented_appointment.screening_protocol
    )
  }) }}

  {{ contact_details(presented_participant) }}
{% endblock %}
