{% extends 'layout-form.jinja' %}
{% from 'nhsuk/components/button/macro.jinja' import button %}
{% set enctype="multipart/form-data" %}
<h2 class="nhsuk-fieldset__legend--s">Upload BSS data</h2>
{% block form %}
    <input type="file" name="json_file" id="json_file">
    <label>Description:</label><input type="text" name="description" id="description">
      {{ button({
      "text": "Save and continue"
      }) }}
{% endblock form %}
