{% extends "layout-form.jinja" %}
{% from "nhsuk/components/button/macro.jinja" import button %}
{% from "nhsuk/components/fieldset/macro.jinja" import fieldset %}

{% block form %}
  <input type="hidden" name="return_url" value="{{ return_url }}"/>

  {% do form.location_type.add_divider_after("OUTSIDE_UK", "or") %}
  {{ form.location_type.as_field_group() }}

  {% set less_than_six_months_ago_html %}
  <p>This appointment will need to stop and you will be prompted to reschedule once 6 months has passed.</p>
  {{ form.approx_date_LESS_THAN_SIX_MONTHS.as_field_group() }}
  {% endset %}

  {% do form.date_type.add_conditional_html("LESS_THAN_SIX_MONTHS", less_than_six_months_ago_html) %}

  {{ form.date_type.as_field_group() }}

  {{ form.name_is_the_same.as_field_group() }}

  {{ form.additional_information.as_field_group() }}

  <div class="nhsuk-button-group">
    {{ button({
      "text": "Save"
    }) }}
  </div>

  {% if delete_link %}
    <p class="nhsuk-u-margin-top-4">
      <a href="{{ delete_link.href }}" class="{{ delete_link.class }}">
        {{ delete_link.text }}
      </a>
    </p>
  {% endif %}
{% endblock %}
