{% extends "workflow_step.jinja" %}
{% from "nhsuk/components/button/macro.jinja" import button %}
{% from "nhsuk/components/fieldset/macro.jinja" import fieldset %}

{% set active_workflow_step = 'TAKE_IMAGES' %}

{% block form %}

  <div class="nhsuk-u-margin-bottom-6"
       data-module="app-image-stream"
       data-stream-url="{{ url('mammograms:appointment_images_stream', kwargs={'pk': appointment_pk}) }}">
    {% include "mammograms/_image_grid.jinja" %}
  </div>

  {% include "mammograms/_troubleshoot_images.jinja" %}

  {% call fieldset({
    "legend": {
      "text": "Additional details",
      "classes": "nhsuk-fieldset__legend--m"
    }
  }) %}
    {{ form.imperfect_but_best_possible.as_field_group() }}

    {% set reasons_html %}
      {{ form.reasons_incomplete.as_field_group() }}
      {{ form.reasons_incomplete_details.as_field_group() }}
      {{ form.should_recall.as_field_group() }}
    {% endset %}
    {% do form.not_all_mammograms_taken.add_conditional_html('true', reasons_html) %}

    {{ form.not_all_mammograms_taken.as_field_group() }}
    {{ form.additional_details.as_field_group() }}
  {% endcall %}

{% endblock %}
