{% macro appointment_cannot_proceed_link(appointment_presenter) %}
  <p>
    <a class="nhsuk-link nhsuk-link--no-visited-state" 
       href="{{ url('mammograms:appointment_cannot_go_ahead', kwargs={"pk": appointment_presenter.pk}) }}">
      Appointment cannot proceed
    </a>
  </p>
{% endmacro %}
