{% extends "workflow_step.jinja" %}
{% from "nhsuk/components/button/macro.jinja" import button %}

{% set active_workflow_step = 'TAKE_IMAGES' %}

{% block form %}
  {{ form.series_fingerprint }}
  <p>You have indicated multiple images were needed for some views.</p>

  {% with form=form %}
    {% include "mammograms/_multiple_images_fields.jinja" %}
  {% endwith %}

  {{ form.additional_details.as_field_group() }}
{% endblock %}
