{% extends "wizard_step.jinja" %}
{% from "nhsuk/components/button/macro.jinja" import button %}
{% from "nhsuk/components/inset-text/macro.jinja" import insetText %}
{% from "nhsuk/components/summary-list/macro.jinja" import summaryList %}
{% from "components/participant-details/summary_list_rows.jinja" import last_mammogram_html %}
{% from "mammograms/medical_information/medical_history/cards/breast_cancer_history_card.jinja" import breast_cancer_history_card %}
{% from "mammograms/medical_information/medical_history/cards/mastectomy_or_lumpectomy_history_card.jinja" import mastectomy_or_lumpectomy_history_card %}
{% from "mammograms/components/card_with_status.jinja" import card_with_status %}

{% block step_content %}

{% call card_with_status(
  section=sections.MAMMOGRAM_HISTORY,
  anchor=presenter.get_anchor(sections.MAMMOGRAM_HISTORY),
  status_tag_properties=presenter.review_status_tag_properties(sections.MAMMOGRAM_HISTORY),
  action_button_properties=presenter.review_action_button_properties(sections.MAMMOGRAM_HISTORY),
  csrf_input=csrf_input,
  ) %}
  <p>The last confirmed mammogram and any added manually since then</p>

  {{ summaryList({
    "rows": [
      {
        "key": {
          "text": "Last known mammograms"
        },
        "value": {
          "html": last_mammogram_html(presented_mammograms)
        }
      },
    ]
  }) }}

  {{ button({
    "text": presenter.add_mammogram_button.text,
    "href": presenter.add_mammogram_button.href,
    "classes": "nhsuk-button--secondary nhsuk-button--small"
  }) }}
{% endcall %}

{% call card_with_status(
  section=sections.SYMPTOMS,
  anchor=presenter.get_anchor(sections.SYMPTOMS),
  status_tag_properties=presenter.review_status_tag_properties(sections.SYMPTOMS),
  action_button_properties=presenter.review_action_button_properties(sections.SYMPTOMS),
  csrf_input=csrf_input,
  ) %}
  <p {%- if not presenter.symptom_rows %} class="nhsuk-u-margin-bottom-3"{% endif %}>Any problems or symptoms, including lumps, swelling, rashes or nipple changes</p>
  {% if presenter.symptom_rows %}
     {{ summaryList({
        "rows": presenter.symptom_rows
      }) }}
  {% else %}
    {% set insetHtml %}
      <p>No symptoms have been recorded for this participant.</p>
    {% endset %}
    {{ insetText({
      "html": insetHtml,
      "classes": "nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4"
    }) }}
  {% endif %}

  <hr>
  <h3>Add symptoms</h3>

  <div class="nhsuk-button-group app-button-group--small">
    {% for button_info in presenter.symptom_buttons %}
      {{ button({
        "text": button_info.text,
        "href": button_info.href,
        "classes": "nhsuk-button--secondary nhsuk-button--small"
      }) }}
    {% endfor %}
  </div>
{% endcall %}

{% call card_with_status(
  section=sections.MEDICAL_HISTORY,
  anchor=presenter.get_anchor(sections.MEDICAL_HISTORY),
  status_tag_properties=presenter.review_status_tag_properties(sections.MEDICAL_HISTORY),
  action_button_properties=presenter.review_action_button_properties(sections.MEDICAL_HISTORY),
  csrf_input=csrf_input,
  ) %}

  {% set implanted_medical_device_history_html %}
    {% for presented_item in presenter.implanted_medical_device_history %}
      <a style="float: right" class="nhsuk-link nhsuk-link--no-visited-state" href="{{ presented_item.change_link.href}}">
        {{ presented_item.change_link.text }}<span class="nhsuk-u-visually-hidden">{{ presented_item.change_link.visually_hidden_text }}</span>
      </a><br>
      {{ summaryList(presented_item.summary_list_params) }}
    {% endfor %}
  {% endset %}

  {% set breast_augmentation_history_html %}
    {% for presented_item in presenter.breast_augmentation_history %}
      <a style="float: right" class="nhsuk-link nhsuk-link--no-visited-state" href="{{ presented_item.change_link.href}}">
        {{ presented_item.change_link.text }}<span class="nhsuk-u-visually-hidden">{{ presented_item.change_link.visually_hidden_text }}</span>
      </a><br>
      {{ summaryList(presented_item.summary_list_params) }}
    {% endfor %}
  {% endset %}

  {% set other_procedure_history_html %}
    {% for presented_item in presenter.other_procedure_history %}
      <a style="float: right" class="nhsuk-link nhsuk-link--no-visited-state" href="{{ presented_item.change_link.href}}">
        {{ presented_item.change_link.text }}<span class="nhsuk-u-visually-hidden">{{ presented_item.change_link.visually_hidden_text }}</span>
      </a><br>
      {{ summaryList(presented_item.summary_list_params) }}
    {% endfor %}
  {% endset %}

  {% set cyst_history_html %}
    {% for presented_item in presenter.cyst_history %}
      <a style="float: right" class="nhsuk-link nhsuk-link--no-visited-state" href="{{ presented_item.change_link.href}}">
        {{ presented_item.change_link.text }}<span class="nhsuk-u-visually-hidden">{{ presented_item.change_link.visually_hidden_text }}</span>
      </a><br>
      {{ summaryList(presented_item.summary_list_params) }}
    {% endfor %}
  {% endset %}

  {% set benign_lump_history_html %}
    {% for presented_item in presenter.benign_lump_history %}
      {{ summaryList(presented_item.summary_list_params) }}
      <p><a href="{{ presented_item.change_link.href }}" class="nhsuk-link nhsuk-link--no-visited-state">{{ presented_item.change_link.text }}</a></p>
    {% endfor %}
  {% endset %}

  {{ breast_cancer_history_card(presenter.breast_cancer_history) }}
  {{ mastectomy_or_lumpectomy_history_card(presenter.mastectomy_or_lumpectomy_history) }}


  {{ summaryList({
    "rows": [
     {
       "key": {
         "text": "Implanted medical device history"
       },
       "value": {
         "html": implanted_medical_device_history_html
       }
     },
     {
       "key": {
         "text": "Cyst history"
       },
       "value": {
         "html": cyst_history_html
       },
       "actions": {
          "items": []
       }
     },
     {
      "key": {
         "text": "Breast implants or augmentation"
       },
       "value": {
         "html": breast_augmentation_history_html
       },
       "actions": {
          "items": []
       }
     },
     {
       "key": {
         "text": "Other procedure history"
       },
       "value": {
         "html": other_procedure_history_html
       },
       "actions": {
          "items": []
       }
     },
     {
       "key": {
         "text": "Benign lump history"
       },
       "value": {
         "html": benign_lump_history_html
       },
       "actions": {
          "items": []
       }
     }
    ]
  }) }}

  <hr>
  <h3>Add medical history</h3>

  <div class="nhsuk-button-group app-button-group--small">
    {% for button_info in presenter.medical_history_buttons %}
      {{ button({
        "text": button_info.text,
        "href": button_info.href,
        "classes": "nhsuk-button--secondary nhsuk-button--small"
      }) }}
    {% endfor %}
  </div>
{% endcall %}

{% call card_with_status(
  section=sections.BREAST_FEATURES,
  anchor=presenter.get_anchor(sections.BREAST_FEATURES),
  status_tag_properties=presenter.review_status_tag_properties(sections.BREAST_FEATURES),
  action_button_properties=presenter.review_action_button_properties(sections.BREAST_FEATURES),
  csrf_input=csrf_input,
  ) %}
    {% set breast_features_recorded = false %}

    {% set insetHtml %}
    <p>No breast features have been recorded for this participant. Add any scars, moles, warts or lumps observed or reported during the appointment.</p>
    {% endset %}
    {{ insetText({
      "html": insetHtml,
      "classes": "nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4 app-inset-text"
    }) }}

    <p class="nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0">
      <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">{{ "Add another feature" if breast_features_recorded else "Add a feature" }}</a>
    </p>

    {% if presenter.breast_features_action_button %}
      {% if presenter.breast_features_action_button.is_anchor %}
        <a href="{{ presenter.breast_features_action_button.href }}" class="nhsuk-link {{ presenter.breast_features_action_button.classes }}">
          {{ presenter.breast_features_action_button.text }}
        </a>
      {% else %}
        <form method="post" action="{{ presenter.breast_features_action_button.href }}" class="app-inline-form">
          {{ csrf_input }}
          <button type="submit" class="nhsuk-link-button {{ presenter.breast_features_action_button.classes }}">
            {{ presenter.breast_features_action_button.text }}
          </button>
        </form>
      {% endif %}
    {% endif %}
{% endcall %}

{% call card_with_status(
  section=sections.OTHER_INFORMATION,
  anchor=presenter.get_anchor(sections.OTHER_INFORMATION),
  status_tag_properties=presenter.review_status_tag_properties(sections.OTHER_INFORMATION),
  action_button_properties=presenter.review_action_button_properties(sections.OTHER_INFORMATION),
  csrf_input=csrf_input,
  ) %}
  {% set hrt_link %}
  <a class="nhsuk-link" href="#">Enter hormone replacement therapy (HRT)</a>
  {% endset %}
  {% set pregnancy_and_breastfeeding_link %}
  <a class="nhsuk-link" href="#">Enter pregnancy and breastfeeding</a>
  {% endset %}

  {% if presenter.other_information_action_button %}
    {% if presenter.other_information_action_button.is_anchor %}
      <a href="{{ presenter.other_information_action_button.href }}" class="nhsuk-link {{ presenter.other_information_action_button.classes }}">
        {{ presenter.other_information_action_button.text }}
      </a>
    {% else %}
      <form method="post" action="{{ presenter.other_information_action_button.href }}" class="app-inline-form">
        {{ csrf_input }}
        <button type="submit" class="nhsuk-link-button {{ presenter.other_information_action_button.classes }}">
          {{ presenter.other_information_action_button.text }}
        </button>
      </form>
    {% endif %}
  {% endif %}
{% endcall %}

{% endblock %}

{% block wizard_form %}
  <form method="post">
    {{ csrf_input }}
    {{ button({
      "text": "Complete all and continue",
      "classes": "nhsuk-u-margin-bottom-4"
    }) }}
  </form>
{% endblock %}
