{% extends "workflow_step.jinja" %}
{% from "nhsuk/components/button/macro.jinja" import button %}
{% from "mammograms/components/card_with_status.jinja" import card_with_status %}
{% from "mammograms/medical_information/section_cards.jinja" import mammogram_history_content, symptoms_content, medical_history_content, breast_features_content, other_information_content %}

{% set active_workflow_step = 'REVIEW_MEDICAL_INFORMATION' %}

{% block step_content %}

{% set complete_all_button %}
  <div class="nhsuk-form-group">
    <form method="post">
      {{ csrf_input }}
      {{ button({
        "text": "Complete all and continue",
        "classes": "nhsuk-u-margin-bottom-4"
      }) }}
    </form>
  </div>
{% endset %}

{{ complete_all_button }}

{% call card_with_status(
  section=sections.MAMMOGRAM_HISTORY,
  anchor=presenter.get_anchor(sections.MAMMOGRAM_HISTORY),
  status_tag_properties=presenter.review_status_tag_properties(sections.MAMMOGRAM_HISTORY),
  action_button_properties=presenter.review_action_button_properties(sections.MAMMOGRAM_HISTORY),
  csrf_input=csrf_input,
  ) %}
  {{ mammogram_history_content(presenter, presented_mammograms) }}
{% endcall %}

{% call card_with_status(
  section=sections.SYMPTOMS,
  anchor=presenter.get_anchor(sections.SYMPTOMS),
  status_tag_properties=presenter.review_status_tag_properties(sections.SYMPTOMS),
  action_button_properties=presenter.review_action_button_properties(sections.SYMPTOMS),
  csrf_input=csrf_input,
  ) %}
  {{ symptoms_content(presenter) }}
{% endcall %}

{% call card_with_status(
  section=sections.MEDICAL_HISTORY,
  anchor=presenter.get_anchor(sections.MEDICAL_HISTORY),
  status_tag_properties=presenter.review_status_tag_properties(sections.MEDICAL_HISTORY),
  action_button_properties=presenter.review_action_button_properties(sections.MEDICAL_HISTORY),
  csrf_input=csrf_input,
  ) %}
  {{ medical_history_content(presenter) }}
{% endcall %}

{% call card_with_status(
  section=sections.BREAST_FEATURES,
  anchor=presenter.get_anchor(sections.BREAST_FEATURES),
  status_tag_properties=presenter.review_status_tag_properties(sections.BREAST_FEATURES),
  action_button_properties=presenter.review_action_button_properties(sections.BREAST_FEATURES),
  csrf_input=csrf_input,
  ) %}
  {{ breast_features_content(presenter) }}
{% endcall %}

{% call card_with_status(
  section=sections.OTHER_INFORMATION,
  anchor=presenter.get_anchor(sections.OTHER_INFORMATION),
  status_tag_properties=presenter.review_status_tag_properties(sections.OTHER_INFORMATION),
  action_button_properties=presenter.review_action_button_properties(sections.OTHER_INFORMATION),
  csrf_input=csrf_input,
  ) %}
  {{ other_information_content(presenter, read_only=false) }}
{% endcall %}

{{ complete_all_button }}

{% endblock %}

{% block wizard_form %}
{% endblock %}
