{% extends "workflow_step.jinja" %}
{% from "nhsuk/components/button/macro.jinja" import button %}
{% from "mammograms/components/card_with_status.jinja" import card_with_status %}
{% from "mammograms/medical_information/section_cards.jinja" import mammogram_history_content, symptoms_content, medical_history_content, breast_features_content, other_information_content %}

{% set active_workflow_step = 'REVIEW_MEDICAL_INFORMATION' %}

{% block step_content %}

{% set complete_all_button %}
  <div class="nhsuk-form-group">
    <form method="post">
      {{ csrf_input }}
      {{ button({
        "text": "Complete all and continue",
        "classes": "nhsuk-u-margin-bottom-4"
      }) }}
    </form>
  </div>
{% endset %}

{{ complete_all_button }}

{% call card_with_status(
  presented_section=presenter.get_section(sections.MAMMOGRAM_HISTORY),
  csrf_input=csrf_input,
  ) %}
  {{ mammogram_history_content(presenter, presented_mammograms) }}
{% endcall %}

{% call card_with_status(
  presented_section=presenter.get_section(sections.SYMPTOMS),
  csrf_input=csrf_input,
  ) %}
  {{ symptoms_content(presenter) }}
{% endcall %}

{% call card_with_status(
  presented_section=presenter.get_section(sections.MEDICAL_HISTORY),
  csrf_input=csrf_input,
  ) %}
  {{ medical_history_content(presenter) }}
{% endcall %}

{% call card_with_status(
  presented_section=presenter.get_section(sections.BREAST_FEATURES),
  csrf_input=csrf_input,
  ) %}
  {{ breast_features_content(presenter) }}
{% endcall %}

{% call card_with_status(
  presented_section=presenter.get_section(sections.OTHER_INFORMATION),
  csrf_input=csrf_input,
  ) %}
  {{ other_information_content(presenter, read_only=false) }}
{% endcall %}

{{ complete_all_button }}

<p>
  <a class="nhsuk-link nhsuk-link--no-visited-state" href="{{ appointment_cannot_proceed_href }}">Appointment cannot proceed</a>
</p>

{% endblock %}

{% block wizard_form %}
{% endblock %}
