@use "../vendor/nhsuk-frontend/base" as *;

.app-mammogram-thumbnail {
  width: 100%;
  aspect-ratio: 1;
  background-color: nhsuk-colour("grey-5");
  border: 1px solid nhsuk-colour("grey-4");
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.app-mammogram-thumbnail__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.app-mammogram-thumbnail__placeholder {
  color: $nhsuk-secondary-text-colour;
  font-size: 14px;
}
