/**
This component renders a block of complex information using headings and subheadings.
It looks the same as the summaryList component in the design system, but doesn't use a dl.

Use it to display data that:

- is differently shaped depending on the key
- has up to 2 dimensions

Example with a 2 column grid:

*Key*     *Subkey 1*  *Subkey 2*
          Data item   Data item

          *Subkey 3*
          Data item
---------------------------------

On a narrow screen / high zoom, this collapses to a vertical layout just like
the summaryList component does.
**/

@use "../vendor/nhsuk-frontend/base" as *;

.app-nested-info {
  margin: 0; // Reset default user agent styles

  @include nhsuk-font($size: 19);
  @include nhsuk-responsive-margin(6, "bottom");

  @include nhsuk-media-query($from: tablet) {
    display: table;
    width: 100%;
    table-layout: fixed; // Required to allow us to wrap words that overflow.
    border-collapse: collapse;
  }
}

.app-nested-info__row {
  border-bottom: 1px solid $nhsuk-border-colour;

  @include nhsuk-media-query($until: tablet) {
    margin-bottom: nhsuk-spacing(3);
  }
  @include nhsuk-media-query($from: tablet) {
    display: table-row;
  }
}

.app-nested-info__key,
.app-nested-info__value {
  box-sizing: border-box;
  margin: 0; // Reset default user agent styles
  vertical-align: top;

  @include nhsuk-media-query($from: tablet) {
    display: table-cell;
    padding-top: nhsuk-spacing(2);
    padding-right: nhsuk-spacing(4);
    padding-bottom: nhsuk-spacing(2);
  }
}

.app-nested-info__key,
.app-nested-info__value {
  // Automatic wrapping for unbreakable text (e.g. URLs)
  @include nhsuk-text-break-word;
}

.app-nested-info__key {
  margin-bottom: nhsuk-spacing(1);

  @include nhsuk-typography-weight-bold;

  @include nhsuk-media-query($from: tablet) {
    width: 30%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
  }
}

.app-nested-info__value {
  @include nhsuk-media-query($until: tablet) {
    margin-bottom: nhsuk-spacing(3);
  }
}

.app-nested-info__value > :last-child {
  margin-bottom: 0;
}

// Remove the usual margin from paragraphs and lists, where it touches the border of the grid
// leaving only the spacing from the .app-nested-info__value
.app-nested-info__subvalue_row:last-child > .app-nested-info__subvalue > ul:last-child,
.app-nested-info__subvalue_row:last-child > .app-nested-info__subvalue > p:last-child {
  @include nhsuk-media-query($from: tablet) {
    margin-bottom: 0;
  }
}

// No border on specific rows
.app-nested-info__row--no-border {
  border: 0;

  // Increase padding by 1px to compensate for 'missing' border
  @include nhsuk-media-query($from: tablet) {
    .app-nested-info__key,
    .app-nested-info__value {
      padding-bottom: nhsuk-spacing(2) + 1px;
    }
  }
}

.nhsuk-card__content {
  .app-nested-info:last-child .app-nested-info__row:last-of-type {
    margin-bottom: 0;
  }
}
