{% from 'nhsuk/components/select/macro.jinja' import select as select %}
{% from "forms/label.jinja" import label_html %}
{% set unbound_field = field.field %}
{% if field.errors %}
  {% set error_message = {"text": field.errors | first} %}
{% endif %}
{% set ns = namespace(items=[]) %}
{% for value, text in unbound_field.choices %}
  {% set ns.items = ns.items + [{
    "id": field.auto_id if loop.first,
    "value": value,
    "text": text,
    "selected": field.value() in ["", none] if value == "" else field.value() == value,
    "disabled": value == ""
  }] %}
{% endfor %}
{{ select({
  "name": field.html_name,
  "id": field.auto_id,
  "label": {
    "html": label_html(field),
    "classes": unbound_field.label_classes
  },
  "errorMessage": error_message,
  "classes": unbound_field.classes if unbound_field.classes,
  "hint": {
    "html": unbound_field.hint|e
  } if unbound_field.hint,
  "items": ns.items
}) }}
