{% from "textarea/macro.jinja" import textarea %}
{% from "forms/label.jinja" import label_html %}
{% set unbound_field = field.field %}
{% set widget = unbound_field.widget %}
{% set textarea_params = {
    "label": {
      "html": label_html(field),
      "classes": unbound_field.label_classes if unbound_field.label_classes
    },
    "hint": {
      "text": unbound_field.hint
    } if unbound_field.hint,
    "id": field.auto_id,
    "name": field.html_name,
    "value": "" if field.value() is none else field.value(),
    "classes": unbound_field.classes if unbound_field.classes,
    "rows": widget.attrs.pop("rows", none),
    "cols": widget.attrs.pop("cols", none),
    "attributes": widget.attrs
  } %}
  {% if field.errors %}
    {% set error_params = {
      "errorMessage": {
        "text": field.errors | first
      }
    } %}
    {% set textarea_params = dict(textarea_params, **error_params) %}
  {% endif %}

{{ textarea(textarea_params) }}

