{% extends "layout-app.jinja" %}

{% from "nhsuk/components/button/macro.jinja" import button %}
{% from "nhsuk/components/input/macro.jinja" import input %}
{% from "nhsuk/components/summary-list/macro.jinja" import summaryList %}
{% from "nhsuk/macros/attributes.jinja" import nhsukAttributes %}

{% from "components/breast-diagram/macro.jinja" import app_breast_diagram %}

{% set page_title = "SVG test" %}
{% set diagram_version = 1 %}

{% block page_content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-6">
        Breast features diagram
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">SVG image map</span>
      </h1>

      {% set imageHtml %}
        {{ app_breast_diagram(version=diagram_version) }}
      {% endset %}

      <form class="app-breast-diagram" method="get" data-module="app-breast-diagram" novalidate>
        <input {{- nhsukAttributes({
          "name": "features",
          "value": {
            "value": data.features
              if data.features | length and data.features is iterable
              else [],
            "type": "array"
          },
          "type": "hidden"
        }) }}>

        {{ summaryList({
          "card": {
            "image": {
              "html": imageHtml
            }
          },
          "rows": [
            {
              "key": {
                "text": "Image X"
              },
              "value": {
                "text": "N/A",
                "classes": "app-js-image-x"
              }
            },
            {
              "key": {
                "text": "Image Y"
              },
              "value": {
                "text": "N/A",
                "classes": "app-js-image-y"
              }
            },
            {
              "key": {
                "text": "Image region"
              },
              "value": {
                "text": "N/A",
                "classes": "app-js-image-region"
              }
            },
            {
              "key": {
                "text": "Input values"
              },
              "value": {
                "text": "N/A",
                "classes": "app-js-image-input"
              },
              "classes": "nhsuk-summary-list__row--no-border"
            }
          ]
        }) }}

        <div class="nhsuk-button-group">
          {{ button({
            "text": "Save and continue"
          }) }}
        </div>
      </form>

    </div>
  </div>
{% endblock %}
