{% if start_appointment_url is undefined %}
  {{ raise('start_appointment_url is required') }}
{% endif %}

{% if user.has_perm('mammograms.do_mammogram_appointment') %}
<div data-module="app-start-appointment" data-appointment-id="{{ presented_appointment.pk }}" {% if presented_appointment.can_be_checked_in %}hidden{% endif %}>
  <form action="{{ start_appointment_url }}" method="post" novalidate>
    <p>
      <button class="app-button app-button--link">Start appointment<span class="nhsuk-u-visually-hidden"> {{ presented_appointment.participant.full_name }}</span></button>
    </p>
    {{ csrf_input }}
  </form>
</div>
{% endif %}
