{% from "components/nested-info-card/macro.jinja" import app_nested_info_card %}
{% from "mammograms/medical_information/medical_history/cards/macros.jinja" import list_with_default, item_with_details, paragraph %}

{% macro benign_lump_history_card(benign_lump_history) %}
  {% if benign_lump_history %}
  <section>
  {% endif %}

  {% for presented_item in benign_lump_history %}
    {{ app_nested_info_card({
      "card": {
        "heading": "Benign lumps" ~ (": item " ~ presented_item.counter if presented_item.counter),
        "headingLevel": 3,
        "classes": "nhsuk-u-margin-bottom-4",
        "actions": {
          "items": [
            {
              "text": presented_item.change_link.text,
              "href": presented_item.change_link.href
            }
          ]
        }
      },
      "headingLevel": 4,
      "rows": [
        {
          "key": "Procedures",
          "value": {
            "rows": [
              {
                "columns": [
                  {
                    "heading": "Right breast",
                    "html": list_with_default(presented_item.right_breast_procedures)
                  },
                  {
                    "heading": "Left breast",
                    "html": list_with_default(presented_item.left_breast_procedures)
                  },
                ]
              }
            ]
          }
        },
        {
          "key": "Procedure year",
          "value": {
            "html": paragraph(presented_item.procedure_year)
          }
        } if presented_item.procedure_year,
        {
          "key": "Treatment location",
          "value": {
            "html": item_with_details(presented_item.treatment_location, default="Details not provided")
          }
        },
        {
          "key": "Additional details",
          "value": {
            "html": paragraph(presented_item.additional_details)
          }
        } if presented_item.additional_details
      ]
    }) }}
  {% endfor %}

  {% if benign_lump_history %}
  </section>
  {% endif %}
{% endmacro %}
