{% from "components/nested-info-card/macro.jinja" import app_nested_info_card %}
{% from "mammograms/medical_information/medical_history/cards/macros.jinja" import list_with_default, item_with_details, paragraph %}

{% macro breast_cancer_history_card(breast_cancer_history, read_only=false) %}
  {% if breast_cancer_history %}
  <section>
  {% endif %}

  {% for presented_item in breast_cancer_history %}
    {{ app_nested_info_card({
      "card": {
        "heading": "Breast cancer" ~ (": item " ~ presented_item.counter if presented_item.counter),
        "headingLevel": 3,
        "classes": "nhsuk-u-margin-bottom-4",
        "actions": {
          "items": [
            {
              "text": presented_item.change_link.text,
              "href": presented_item.change_link.href,
              "classes": "nhsuk-link--no-visited-state",
            }
          ]
        } if not read_only else none
      },
      "headingLevel": 4,
      "rows": [
        {
          "key": "Cancer location",
          "value": {
            "html": paragraph(presented_item.cancer_location)
          }
        },
        {
          "key": "Diagnosis year",
          "value": {
            "html": paragraph(presented_item.diagnosis_year)
          }
        } if presented_item.diagnosis_year,
        {
          "key": "Procedures",
          "value": {
            "rows": [
              {
                "columns": [
                  {
                    "heading": "Right breast",
                    "html": paragraph(presented_item.right_breast_procedure)
                  },
                  {
                    "heading": "Left breast",
                    "html": paragraph(presented_item.left_breast_procedure)
                  },
                ]
              }
            ]
          }
        },
        {
          "key": "Other surgery",
          "value": {
            "rows": [
              {
                "columns": [
                  {
                    "heading": "Right breast",
                    "html": list_with_default(presented_item.right_breast_other_surgery)
                  },
                  {
                    "heading": "Left breast",
                    "html": list_with_default(presented_item.left_breast_other_surgery)
                  },
                ]
              }
            ]
          }
        },
        {
          "key": "Treatment",
          "value": {
            "rows": [
              {
                "columns": [
                  {
                    "heading": "Right breast",
                    "html": list_with_default(presented_item.right_breast_treatments)
                  },
                  {
                    "heading": "Left breast",
                    "html": list_with_default(presented_item.left_breast_treatments)
                  },
                ]
              },
              {
                "columns": [
                  {
                    "heading": "Systemic treatments",
                    "html": list_with_default(presented_item.systemic_treatments)
                  }
                ]
              }
            ]
          }
        },
        {
          "key": "Treatment location",
          "value": {
            "html": item_with_details(presented_item.intervention_location)
          }
        },
        {
          "key": "Additional details",
          "value": {
            "html": paragraph(presented_item.additional_details)
          }
        } if presented_item.additional_details
      ]
    }) }}
  {% endfor %}

  {% if breast_cancer_history %}
  </section>
  {% endif %}
{% endmacro %}
