{% from "components/nested-info-card/macro.jinja" import app_nested_info_card %}
{% from "mammograms/medical_information/medical_history/cards/macros.jinja" import paragraph %}

{% macro cyst_history_card(cyst_history) %}
  {% if cyst_history %}
  <section>
  {% endif %}

  {% for presented_item in cyst_history %}
    {{ app_nested_info_card({
      "card": {
        "heading": "Cysts" ~ (": item " ~ presented_item.counter if presented_item.counter),
        "headingLevel": 3,
        "classes": "nhsuk-u-margin-bottom-4",
        "actions": {
          "items": [
            {
              "text": presented_item.change_link.text,
              "href": presented_item.change_link.href
            }
          ]
        }
      },
      "headingLevel": 4,
      "rows": [
        {
          "key": "Treatment",
          "value": {
            "html": paragraph(presented_item.treatment)
          }
        },
        {
          "key": "Additional details",
          "value": {
            "html": paragraph(presented_item.additional_details)
          }
        } if presented_item.additional_details
      ]
    }) }}
  {% endfor %}

  {% if cyst_history %}
  </section>
  {% endif %}
{% endmacro %}
