{% from "components/nested-info-card/macro.jinja" import app_nested_info_card %}
{% from "mammograms/medical_information/medical_history/cards/macros.jinja" import list_with_default, item_with_details, paragraph %}

{% macro implanted_medical_device_history_card(implanted_medical_device_history) %}
  {% if implanted_medical_device_history %}
  <section>
  {% endif %}

  {% for presented_item in implanted_medical_device_history %}
    {% set type_html %}
      <p>{{ presented_item.type }}</p>
      {% if presented_item.device_has_been_removed %}
        <p>
          Implanted device has been removed
        </p>
      {% endif %}
    {% endset %}

    {{ app_nested_info_card({
      "card": {
        "heading": "Implanted medical device" ~ (": item " ~ presented_item.counter if presented_item.counter),
        "headingLevel": 3,
        "classes": "nhsuk-u-margin-bottom-4",
        "actions": {
          "items": [
            {
              "text": presented_item.change_link.text,
              "href": presented_item.change_link.href,
              "classes": "nhsuk-link--no-visited-state",
            }
          ]
        }
      },
      "headingLevel": 4,
      "rows": [
        {
          "key": "Type",
          "value": {
            "html": type_html
          }
        },
        {
          "key": "Procedure year",
          "value": {
            "html": paragraph(presented_item.procedure_year_with_removal)
          }
        } if presented_item.procedure_year_with_removal,
        {
          "key": "Additional details",
          "value": {
            "html": paragraph(presented_item.additional_details)
          }
        } if presented_item.additional_details
      ]
    }) }}
  {% endfor %}

  {% if implanted_medical_device_history %}
  </section>
  {% endif %}
{% endmacro %}
