{% from "components/nested-info-card/macro.jinja" import app_nested_info_card %}
{% from "mammograms/medical_information/medical_history/cards/macros.jinja" import list_with_default, item_with_details,
paragraph %}

{% macro mastectomy_or_lumpectomy_history_card(presented_items) %}
  {% if presented_items %}
  <section>
    <h3 class="nhsuk-u-margin-bottom-2">Mastectomy or lumpectomy</h3>
  {% endif %}

  {% for presented_item in presented_items %}
    {% set keyHeadingLevel = 5 if presented_item.counter else 4 %}

    {{ app_nested_info_card({
      "card": {
        "heading": "Item " ~ presented_item.counter if presented_item.counter,
        "headingLevel": 4 if presented_item.counter,
        "classes": "nhsuk-u-margin-bottom-4",
        "actions": {
          "items": [
            {
              "text": presented_item.change_link.text,
              "visuallyHiddenText": presented_item.change_link.visually_hidden_text,
              "href": presented_item.change_link.href
            }
          ]
        }
      },
      "headingLevel": keyHeadingLevel,
      "rows": [
        {
          "key": "Procedures",
          "value": {
            "rows": [
              {
                "columns": [
                  {
                    "heading": "Right breast",
                    "html": paragraph(presented_item.right_breast_procedure)
                  },
                  {
                    "heading": "Left breast",
                    "html": paragraph(presented_item.left_breast_procedure)
                  },
                ]
              }
            ]
          }
        },
        {
          "key": "Other surgery",
          "value": {
            "rows": [
              {
                "columns": [
                  {
                    "heading": "Right breast",
                    "html": list_with_default(presented_item.right_breast_other_surgery)
                  },
                  {
                    "heading": "Left breast",
                    "html": list_with_default(presented_item.left_breast_other_surgery)
                  },
                ]
              }
            ]
          }
        },
        {
          "key": "Surgery year",
          "value": {
            "html": paragraph(presented_item.year_of_surgery)
          }
        } if presented_item.year_of_surgery,
        {
          "key": "Surgery reason",
          "value": {
            "html": paragraph(presented_item.surgery_reason)
          }
        },
        {
          "key": "Additional details",
          "value": {
            "html": paragraph(presented_item.additional_details)
          }
        } if presented_item.additional_details
      ]
    }) }}
  {% endfor %}

  {% if presented_items %}
  </section>
  {% endif %}
{% endmacro %}
