{% from "components/nested-info-card/macro.jinja" import app_nested_info_card %}
{% from "mammograms/medical_information/medical_history/cards/macros.jinja" import list_with_default, item_with_details,
paragraph %}

{% macro mastectomy_or_lumpectomy_history_card(presented_items, read_only=false) %}
  {% if presented_items %}
  <section>
  {% endif %}

  {% for presented_item in presented_items %}
    {{ app_nested_info_card({
      "card": {
        "heading": "Mastectomy or lumpectomy" ~ (": item " ~ presented_item.counter if presented_item.counter),
        "headingLevel": 3,
        "classes": "nhsuk-u-margin-bottom-4",
        "actions": {
          "items": [
            {
              "text": presented_item.change_link.text,
              "href": presented_item.change_link.href,
              "classes": "nhsuk-link--no-visited-state",
            }
          ]
        } if not read_only else none
      },
      "headingLevel": 4,
      "rows": [
        {
          "key": "Procedures",
          "value": {
            "rows": [
              {
                "columns": [
                  {
                    "heading": "Right breast",
                    "html": paragraph(presented_item.right_breast_procedure)
                  },
                  {
                    "heading": "Left breast",
                    "html": paragraph(presented_item.left_breast_procedure)
                  },
                ]
              }
            ]
          }
        },
        {
          "key": "Other surgery",
          "value": {
            "rows": [
              {
                "columns": [
                  {
                    "heading": "Right breast",
                    "html": list_with_default(presented_item.right_breast_other_surgery)
                  },
                  {
                    "heading": "Left breast",
                    "html": list_with_default(presented_item.left_breast_other_surgery)
                  },
                ]
              }
            ]
          }
        },
        {
          "key": "Surgery year",
          "value": {
            "html": paragraph(presented_item.year_of_surgery)
          }
        } if presented_item.year_of_surgery,
        {
          "key": "Surgery reason",
          "value": {
            "html": paragraph(presented_item.surgery_reason)
          }
        },
        {
          "key": "Additional details",
          "value": {
            "html": paragraph(presented_item.additional_details)
          }
        } if presented_item.additional_details
      ]
    }) }}
  {% endfor %}

  {% if presented_items %}
  </section>
  {% endif %}
{% endmacro %}
