{% from "components/nested-info-card/macro.jinja" import app_nested_info_card %}
{% from "mammograms/medical_information/medical_history/cards/macros.jinja" import item_with_details, paragraph %}

{% macro other_procedure_history_card(other_procedure_history) %}
  {% if other_procedure_history %}
  <section>
    <h3 class="nhsuk-u-margin-bottom-2">Other procedures</h3>
  {% endif %}

  {% for presented_item in other_procedure_history %}
    {% set keyHeadingLevel = 5 if presented_item.counter else 4 %}

    {{ app_nested_info_card({
      "card": {
        "heading": "Item " ~ presented_item.counter if presented_item.counter,
        "headingLevel": 4 if presented_item.counter,
        "classes": "nhsuk-u-margin-bottom-4",
        "actions": {
          "items": [
            {
              "text": presented_item.change_link.text,
              "visuallyHiddenText": presented_item.change_link.visually_hidden_text,
              "href": presented_item.change_link.href
            }
          ]
        }
      },
      "headingLevel": keyHeadingLevel,
      "rows": [
        {
          "key": "Type",
          "value": {
            "html": item_with_details(presented_item.type)
          }
        },
        {
          "key": "Procedure year",
          "value": {
            "html": paragraph(presented_item.procedure_year)
          }
        } if presented_item.procedure_year,
        {
          "key": "Additional details",
          "value": {
            "html": paragraph(presented_item.additional_details)
          }
        } if presented_item.additional_details
      ]
    }) }}
  {% endfor %}

  {% if other_procedure_history %}
  </section>
  {% endif %}
{% endmacro %}
