{% from "nhsuk/components/card/macro.jinja" import card %}
{% from "nhsuk/components/tag/macro.jinja" import tag %}

{% macro card_with_status(presented_section, csrf_input=None) %}
  {% set outer_caller = caller if caller is defined else none %}
  <div id="{{ presented_section.anchor }}" class="app-card-with-status">
    {% call card({
      "heading": presented_section.label
    }) %}
      <div class="app-card-with-status__tag" aria-live="polite">
        {% if presented_section.is_reviewed %}
          {{ tag(presented_section.reviewed_tag) }}
        {% else %}
          <span data-hide-on-review>{{ tag(presented_section.to_review_tag) }}</span>
          <span data-show-on-review hidden>{{ tag(presented_section.reviewed_tag) }}</span>
        {% endif %}
      </div>

      {% if outer_caller %}
        {{ outer_caller() }}
      {% endif %}

      {% if not presented_section.is_reviewed or presented_section.next_section_link %}
      <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-u-margin-bottom-4" {% if not presented_section.next_anchor %}data-hide-on-review{% endif %}>
        {% if presented_section.is_reviewed %}
          <a href="{{ presented_section.next_section_link.href }}" class="nhsuk-button nhsuk-button--secondary"> {{ presented_section.next_section_link.text }}</a>
        {% else %}
          {% if presented_section.next_section_link %}
          <span data-show-on-review hidden><a href="{{ presented_section.next_section_link.href }}" class="nhsuk-button nhsuk-button--secondary"> {{ presented_section.next_section_link.text }}</a></span>
          {% endif %}
          <div data-module="app-mark-reviewed" data-status-card-id="{{ presented_section.anchor }}" {% if presented_section.next_anchor %}data-next-card-id="{{ presented_section.next_anchor }}"{% endif %}>
            <form method="post" action="{{ presented_section.review_button.href }}">
              {{ csrf_input }}
              <button type="submit" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-0"> {{ presented_section.review_button.text }} </button>
            </form>
          </div>
        {% endif %}
      {% endif %}
    {% endcall %}
  </div>
{% endmacro %}
