{% extends "layout-app.jinja" %}

{% from "nhsuk/components/button/macro.jinja" import button %}
{% from "nhsuk/macros/attributes.jinja" import nhsukAttributes %}
{% from "django_form_helpers.jinja" import form_error_summary %}

{% from "components/breast-diagram/macro.jinja" import app_breast_diagram %}

{% set form_attributes = {
  "action": request.path,
  "method": "post",
  "novalidate": {
    "value": true,
    "optional": true
  }
} %}

{% block page_content %}
  <div class="nhsuk-u-reading-width">
    {{ form_error_summary(form) }}

    <h1 class="nhsuk-heading-l">
      {% if caption %}
      <span class="nhsuk-caption-l">
        {{ caption }}
      </span>
      {% endif %}
      {{ heading }}
    </h1>

    <form {{- nhsukAttributes(form_attributes) }}>
      {{ csrf_input }}

      {{ form.features }}

      {% call app_breast_diagram({
        "debug": "debug" in request.GET,
        "features": features,
        "image_map": {
          "attributes": {
            "aria-describedby": "breast-diagram-description"
          }
        },
        "read_only": false,
        "version": diagram_version
      }) %}
        <p class="nhsuk-body" id="breast-diagram-description">
          Click the diagram to add notable features such as scars, moles, or warts that image readers may need to be aware of. These could be observed by you or reported by the participant.
        </p>

        <h2 class="nhsuk-heading-m">Where is the feature?</h2>
      {% endcall %}

      <div class="nhsuk-button-group">
        {{ button({
          "text": "Save",
          "classes": "app-js-feature-save"
        }) }}
      </div>

      <p>
        <a class="nhsuk-link nhsuk-link--no-visited-state" href="{{ cannot_proceed_url }}">
          Save and stop appointment because it cannot proceed
        </a>
      </p>
    </form>
  </div>
{% endblock %}
