{% extends "layout-app.jinja" %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1>Page not found</h1>
        <p>If you typed the web address, check it is correct.</p>
        <p>If you pasted the web address, check you copied the entire address.</p>
        <p>If the web address is correct or you selected a link or button, we may be experiencing service issues.</p>

        <h2>What you can do:</h2>
        <ul>
            <li>refresh the page</li>
            <li>go back to the previous page and try again</li>
            <li><a href="/">go back to the home page</a></li>
        </ul>
        <p>Contact us if you are still unable to access the required information.</p>
    </div>
</div>
{% endblock %}