{% extends "layout-app.jinja" %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1>Sorry, this service is unavailable</h1>
        <p>The service is unavailable due to planned maintenance.</p>
    </div>
</div>
{% endblock %}
