{% from 'nhsuk/components/header/macro.jinja' import header %}
{% from "notification-banner/macro.jinja" import notificationBanner %}

{% set assetPath = STATIC_URL ~ "/assets" %}
{% extends "nhsuk/template.jinja" %}

{% block head %}
  <link rel="stylesheet" href="{{ static('css/main.css' )}}">
{% endblock %}

{% block pageTitle %}{% if form and form.errors %}Error: {% endif %}{% if page_title %}{{ page_title }} – {% endif %}Manage breast screening – NHS{% endblock %}

{% block header %}
  {{ header({
    "service": {
      "name": "Manage breast screening"
    },
    "account": {
      "items": header_account_items(request.user)
    },
    "navigation": {
      "items": [
        {
          "href": "/",
          "text": "Home",
          "current": true if navActive == "home"
        },
        {
          "href": "/clinics/",
          "text": "Clinics",
          'current': true if navActive == "clinics"
        }
      ]
    }
  }) }}
{% endblock %}

{% block content %}
  {% block flash_messages %}
    {#- TODO: show messages from django.contrib.messages -#}
    {% set html %}
      <h3 class="nhsuk-notification-banner__heading">
        Patient record updated
      </h3>
      <p>Contact <a class="nhsuk-notification-banner__link" href="#">example@department.nhs.uk</a> if you think there's a problem.</p>
    {% endset %}

    {% set info_notification = info_banner(request) %}
    {% set success_notification = success_banner(request) %}

    {# Don't show a notification banner and an error summary component on the same page.
       We'll just show the error summary (in layout-form.jinja). #}
    {% if not form.errors %}
      {% if success_notification %}
        {{ notificationBanner(success_notification) }}
      {% endif %}

      {% if info_notification %}
        {{ notificationBanner(info_notification) }}
      {% endif %}
    {% endif %}

  {% endblock flash_messages %}

  {% block page_content %}
  {% endblock page_content %}
{% endblock content %}

{% block bodyEnd %}
  <script type="module" src="{{ static('js/bundle.js' )}}"></script>
{% endblock %}}
