{% from 'nhsuk/components/header/macro.jinja' import header %}
{% from "notification-banner/macro.jinja" import notificationBanner %}

{% set assetPath = STATIC_URL ~ "/assets" %}
{% extends "nhsuk/template.jinja" %}

{% block head %}
  <link rel="stylesheet" href="{{ static('css/main.css' )}}">
{% endblock %}

{% block pageTitle %}{% if form and form.errors %}Error: {% endif %}{% if page_title %}{{ page_title }} – {% endif %}Manage breast screening – NHS{% endblock %}

{% block header %}
  {{ header({
    "service": {
      "name": "Manage breast screening"
    },
    "account": {
      "items": header_account_items(request.user)
    },
    "navigation": {
      "items": [
        {
          "href": "/",
          "text": "Home",
          "current": true if navActive == "home"
        },
        {
          "href": "/clinics/",
          "text": "Clinics",
          'current': true if navActive == "clinics"
        }
      ]
    }
  }) }}
{% endblock %}

{% block content %}
  {% block flash_messages %}
    {% set info_notification_params = get_notification_banner_params(
        request, message_type='info',
        disable_auto_focus=disable_auto_focus|default(true)
      ) %}

    {% set success_notification_params = get_notification_banner_params(
        request, message_type='success',
        disable_auto_focus=disable_auto_focus|default(true)
      ) %}

    {% set warning_notification_params = get_notification_banner_params(
        request, message_type='warning',
        disable_auto_focus=disable_auto_focus|default(true)
      ) %}

    {# Don't show a notification banner and an error summary component on the same page.
       We'll just show the error summary (in layout-form.jinja). #}
    {% if not form.errors %}
      {% if success_notification_params %}
        {{ notificationBanner(success_notification_params) }}
      {% endif %}

      {% if info_notification_params %}
        {{ notificationBanner(info_notification_params) }}
      {% endif %}

      {% if warning_notification_params %}
        {{ notificationBanner(warning_notification_params) }}
      {% endif %}
    {% endif %}

  {% endblock flash_messages %}

  {% block page_content %}
  {% endblock page_content %}
{% endblock content %}

{% block bodyEnd %}
  <script type="module" src="{{ static('js/bundle.js' )}}"></script>
{% endblock %}}
