{% extends "layout-app.jinja" %}

{% block page_content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-heading-l">Log in</h1>

    <a class="nhsuk-button nhsuk-button--secondary" href="{{ url('auth:cis2_login') }}">
      Log in with CIS2
    </a>
  </div>
</div>
{% endblock %}
