{% extends "layout-app.jinja" %}

{% block page_content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-heading-l">Sign in</h1>

    {% if debug %}
      <div class="nhsuk-u-margin-bottom-4">
        <a class="nhsuk-button" href="{{ url('auth:dev_sign_in') }}">
          Sign in as dev user
        </a>
      </div>
    {% endif %}

    <button class="nhsuk-button nhsuk-button--secondary" type="button" disabled>
      Sign in with CIS2 (coming soon)
    </button>
  </div>
</div>
{% endblock %}
