{% extends "layout-app.jinja" %}

{% block page_content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-heading-l">Sign in</h1>

    <button class="nhsuk-button nhsuk-button--secondary" type="button" disabled>
      Sign in with CIS2 (coming soon)
    </button>
  </div>
</div>
{% endblock %}
