{% extends "layout-app.jinja" %}
{% from "button/macro.jinja" import button %}
{% from "back-link/macro.jinja" import backLink %}

{% from "django_form_helpers.jinja" import form_error_summary, app_date_input %}

{% block beforeContent %}
  {{ backLink(back_link_params) }}
{% endblock beforeContent %}

{% block messages %}
  {{ form_error_summary(form) }}
{% endblock messages %}

{% block page_content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-l">
      {% if caption %}
        <span class="nhsuk-caption-l">{{ caption }}</span>
      {% endif %}
      {{ title }}
    </h1>

    <form action="{{ request.path }}" method="post">
      {# Radios with conditionals #}
      {% do form.where_taken.add_conditional_html(form.WhereTaken.UK, form.somewhere_in_the_uk_details.as_field_group()) %}
      {% do form.where_taken.add_conditional_html(form.WhereTaken.OUTSIDE_UK, form.outside_the_uk_details.as_field_group()) %}
      {% do form.where_taken.add_divider_after(form.WhereTaken.OUTSIDE_UK, "or") %}
      {{ form.where_taken.as_field_group() }}

      {% do form.when_taken.add_conditional_html(form.WhenTaken.EXACT, form.exact_date.as_field_group()) %}
      {% do form.when_taken.add_conditional_html(form.WhenTaken.APPROX, form.approx_date.as_field_group()) %}
      {{ form.when_taken.as_field_group() }}

      {% do form.name_is_the_same.add_conditional_html(form.NameIsTheSame.NO, form.different_name.as_field_group()) %}
      {{ form.name_is_the_same.as_field_group() }}

      {# Textarea for any other relevant details #}
      {{ form.additional_information.as_field_group() }}

      {{ button({
        "text": "Continue"
      }) }}

      {{ csrf_input }}

      <input type="hidden" name="return_url" value="{{ return_url }}"/>
    </form>
  </div>
</div>
{% endblock page_content %}
