{% extends 'layout-app.jinja' %}
{% from 'back-link/macro.jinja' import backLink %}
{% from 'card/macro.jinja' import card %}
{% from 'tag/macro.jinja' import tag %}
{% from 'components/participant-details/appointments.jinja' import appointments %}
{% from 'components/participant-details/contact_details.jinja' import contact_details %}
{% from 'components/participant-details/personal_details.jinja' import personal_details %}
{% from 'components/participant-details/screening_details.jinja' import screening_details %}
{% from 'summary-list/macro.jinja' import summaryList %}

{% block beforeContent %}
  {{ backLink({
    "href": back_link.href,
    "text": back_link.text
  }) }}
{% endblock beforeContent %}

{% block page_content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1 class="nhsuk-heading-l">
        {{ heading }}
      </h1>

      {{ personal_details(presented_participant=presented_participant) }}
      {{ contact_details(presented_participant=presented_participant) }}
      {{ screening_details(presented_mammograms=presented_mammograms) }}
      {{ appointments(presented_appointments=presented_appointments) }}
    </div>
  </div>
{% endblock page_content %}
