{% from 'nhsuk/components/button/macro.jinja' import button %}

{% set clinic_slot = appointment.clinic_slot %}
{% set participant = appointment.participant %}

<p class="nhsuk-u-secondary-text-colour"><span>NHS Number: {{ participant.nhs_number }}</span></p>

<p>{{ clinic_slot.slot_time_and_clinic_date }}{% if not appointment.current_status.is_screened %}<span class="nhsuk-u-margin-left-3"><a href="#">Reschedule appointment</a></span>{% endif %}</p>

{% if appointment.can_be_made_special %}
<p><a href="{{ appointment.special_appointment_url }}">Make special appointment</a></p>
{% endif %}

{% if appointment.can_be_started_by(user) %}
  <form action="{{ url('mammograms:start_appointment', kwargs={'pk': appointment.pk}) }}" method="post">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        {{ csrf_input }}
        {{ button({
          "text": "Start this appointment",
        }) }}
      </div>
    </div>
  </form>
{% endif %}
