name: Deployment stage

on:
  workflow_call:
    inputs:
      environments:
        description: List of environments to deploy to (String array)
        required: true
        type: string
      commit_sha:
        description: Commit SHA used to fetch ADO pipeline and docker image
        required: true
        type: string
      pr_number:
        description: Pull request number when used in a pull request
        required: false
        type: string

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: ${{ fromJson(inputs.environments) }}
      max-parallel: 1
    environment: ${{ matrix.environment }}
    # Prevent concurrent jobs on the same environment and between deploy and delete workflows
    concurrency: deploy-${{ matrix.environment }}-${{inputs.pr_number}}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Call deployment pipeline
        env:
          ENVIRONMENT: ${{ matrix.environment }}
          COMMIT_SHA: ${{ inputs.commit_sha }}
          PR_NUMBER: ${{ inputs.pr_number }}
        run: |
          if [[ -n "${PR_NUMBER}" ]]; then
            pr_argument="prNumber=${PR_NUMBER}"
          else
            pr_argument=""
          fi

          SMOKE_TEST_TOKEN=$(openssl rand -hex 16)
          echo "SMOKE_TEST_TOKEN=${SMOKE_TEST_TOKEN}" >> $GITHUB_ENV

          source "infrastructure/environments/${ENVIRONMENT}/variables.sh"

          echo "Starting Azure devops pipeline \"Deploy to Azure - ${ENVIRONMENT}\"..."
          RUN_ID=$(az pipelines run \
            --commit-id "${COMMIT_SHA}" \
            --name "Deploy to Azure - ${ENVIRONMENT}" \
            --org https://dev.azure.com/nhse-dtos \
            --project dtos-manage-breast-screening \
            --parameters commitSHA="${COMMIT_SHA}" ${pr_argument} environment="${ENVIRONMENT}" pool="${ADO_MANAGEMENT_POOL}" smokeTestToken="${SMOKE_TEST_TOKEN}" \
            --output tsv --query id)

          echo "See pipeline run in Azure devops: https://dev.azure.com/nhse-dtos/dtos-manage-breast-screening/_build/results?buildId=${RUN_ID}&view=results"

          scripts/bash/wait_ado_pipeline.sh "$RUN_ID" https://dev.azure.com/nhse-dtos dtos-manage-breast-screening

      - name: Basic application smoke test
        env:
          ENVIRONMENT: ${{ matrix.environment }}
          COMMIT_SHA: ${{ inputs.commit_sha }}
          PR_NUMBER: ${{ inputs.pr_number }}
          SMOKE_TEST_TOKEN: ${{ env.SMOKE_TEST_TOKEN }}
        run: |
          dns_zone_name=$( grep dns_zone_name "infrastructure/environments/${ENVIRONMENT}/variables.tfvars" | awk -F'"' '{print $2}' )
          use_apex_domain=$( grep use_apex_domain "infrastructure/environments/${ENVIRONMENT}/variables.tfvars" | awk '{print $3}' || echo "false" )
          scripts/bash/container_app_smoke_test.sh "${ENVIRONMENT}" "${COMMIT_SHA}" "${dns_zone_name}" "${PR_NUMBER}" "${use_apex_domain}"
